.label-list {
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 4px;
}

.label-list__item {
    display: inline-block;
    padding: 4px 8px;
    background-color: #000;
    margin: 2px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.label-list__item_active {
    background-color: #ffffff;
    color: #000000;
}
