.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui.container.sign {
  max-width: 400px !important;
  border: 1px solid #eee;

  background: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 24px;
  padding: 50px;
}

.sign__link {
  margin-top: 15px;
  text-align: center;
}